.marker{
   width:100px;
   height: 70px;
   /* background-color: white; */
   /* border: 2px solid black; */
   border-radius: 5px;
   text-align: center;
   background-image: url('../assets/drone.svg');
   background-position: center center;
   background-size: 40px 40px;
   background-repeat: no-repeat;
}